@import "./abstracts/fonts";
@import "./abstracts/colors";

/* base styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: $bg-clr;
  // max-width: 1450px;
  color: $primary-font;
}

h2 {
  font-size: 18px;
  // padding-right: 5px
}

a {
  text-decoration: none;
}

.error {
  color: $warning;
  font-size: 14px;
  margin: 16px 0;
}

.container {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 10px;
}

@import "./bases/button";
